/*global start*/
li {
  list-style: none;
}

a,
button {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}

.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.66);
  z-index: 0;
  height: 550px;
}

.bannertitle {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

p {
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  color: rgba(3, 28, 36, 0.9294117647);
  font-family: "Gothic A1", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  color: #e4ddcf;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 25px;
  }
}

h2 {
  font-size: 38px;
  line-height: 45px;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
  color: rgba(3, 28, 36, 0.9294117647);
  margin-bottom: 25px;
  max-width: 60%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 32px;
    line-height: 37px;
    max-width: 100%;
  }
}
h2::before {
  position: absolute;
  content: "";
  background: rgba(3, 28, 36, 0.9294117647);
  height: 2px;
  width: 150px;
  bottom: -10px;
  left: 0;
}

h3 {
  color: #e4ddcf;
  font-size: 27px;
  line-height: normal;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Cormorant Garamond", serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto Slab", serif;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.primary-btn {
  background: #fff;
  display: inline-block;
  padding: 8px 30px;
  color: rgba(3, 28, 36, 0.9294117647);
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid rgba(3, 28, 36, 0.9294117647);
}
.primary-btn:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.primary-btn a:hover {
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e4ddcf;
}

::-webkit-scrollbar-thumb {
  background: rgba(3, 28, 36, 0.9294117647);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

/*global end*/
/*header start*/
header.site-header {
  background: transparent;
  font-size: 18px;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: rgba(3, 28, 36, 0.9294117647);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 14px 0;
  position: fixed;
}

.site-header .site-nav ul li a.active {
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

header.site-header.sticky .site-nav ul li a:hover {
  color: #fff;
}

.site-logo img {
  width: 100%;
  max-width: 300px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  transition: 0.3s;
}
.site-nav a:hover {
  transform: translateY(-10px);
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*footer-css-start*/
.footer {
  background: rgba(3, 28, 36, 0.9294117647);
  padding: 50px 0;
}
.footer-logo img {
  max-width: 250px;
}
.footer-links h2 {
  color: #fff;
}
.footer-links li a {
  color: #fff;
  font-size: 18px;
}
.footer-links li a:hover {
  color: #e4ddcf;
}
.footer-adresse h2 {
  color: #fff;
}
.footer-adresse p {
  color: rgba(3, 28, 36, 0.9294117647);
}

.mails-names a {
  color: #fff;
  font-size: 20px;
}
.mails-names a:hover {
  color: #e4ddcf;
}

.social-signals {
  padding: 25px 0;
}
.social-signals i {
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  transition: 0.3s linear;
}
.social-signals i:hover {
  transform: translateY(-10px);
  color: #e4ddcf;
}

/*footer-css-end*/
/*cookie start*/
.cookie-alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  left: 0;
}

.cookie-alert.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}
.cookie-alert.show h4 {
  font-size: 23PX;
  color: rgba(3, 28, 36, 0.9294117647);
}

a.btn.btn-primary.accept-cookies {
  background: rgba(3, 28, 36, 0.9294117647);
  padding: 6px 22px;
  font-size: 20px;
  border: 1px solid rgba(3, 28, 36, 0.9294117647);
}
a.btn.btn-primary.accept-cookies:hover {
  background-color: transparent;
  color: #0C0B0B;
  border: 1px solid rgba(3, 28, 36, 0.9294117647);
}

/*cookie end*/
/*contact-css-start*/
.contactbanner.banner {
  background-image: url(../images/contactbanner.webp);
  height: 450px;
  position: relative;
}
.contactbanner.banner::after {
  height: 450px;
}

.contacttext {
  padding: 100px 0;
}
.contacttext h3 {
  color: rgba(3, 28, 36, 0.9294117647);
}

/*contact-css-end*/
/*privacy-policy start*/
.privacy__section.banner {
  background-image: url(../images/privacybanner.jpg);
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  text-align: center;
}
.privacy__section.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
  height: 450px;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy .content-wrap li {
  font-size: 16px;
  font-family: "Gothic A1";
  position: relative;
}
.privacy-policy .content-wrap li::before {
  content: "";
  position: absolute;
  height: 5px;
  background: rgba(3, 28, 36, 0.9294117647);
  width: 5px;
  border-radius: 30px;
  left: -10px;
  top: 8px;
}
.privacy-policy .content-wrap h3 {
  color: rgba(3, 28, 36, 0.9294117647);
}
.privacy-policy .content-wrap p {
  color: #0C0B0B;
  font-size: 16px;
  line-height: 25px;
}

.terms {
  padding: 40px 0;
}
.terms .content-wrap li {
  font-size: 16px;
  font-family: "Gothic A1";
  position: relative;
}
.terms .content-wrap li::before {
  content: "";
  position: absolute;
  height: 5px;
  background: rgba(3, 28, 36, 0.9294117647);
  width: 5px;
  border-radius: 30px;
  left: -10px;
  top: 8px;
}
.terms .content-wrap p {
  color: #0C0B0B;
  font-size: 16px;
  line-height: 25px;
}
.terms .content-wrap h3 {
  color: rgba(3, 28, 36, 0.9294117647);
}

/*privacy-policy end*/
/*terms-conditon start*/
.terms__section.banner {
  background-image: url(../images/termsbanner.jpg);
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 450px;
  z-index: -1;
}
.terms__section.banner::after {
  height: 450px;
  z-index: -1;
}

/*terms-conditon-end/



/*homebanner-css-start*/
.homebanner.banner {
  background-image: url(../images/homebanner.jpg);
  height: 550px;
  position: relative;
}

.homebanner.banner .bannertitle h1 {
  max-width: 78%;
  margin: 0 auto;
}

.topmain {
  padding: 100px 0;
  background-image: url(../images/bghotel.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.topmain::after {
  position: absolute;
  content: "";
  inset: 0;
  background: rgb(238, 231, 218);
  opacity: 0.9;
}

.topmain .container {
  position: relative;
  z-index: 2;
}

.topmain-picture img {
  height: 100%;
  min-height: 575px;
  object-fit: cover;
}

/*homebanner-css-end*/
/*wheretosleep-css-start*/
.wheresleepbanner.banner {
  background-image: url(../images/wheretosleep-banner.jpg);
  height: 450px;
  position: relative;
  background-position: bottom;
}
.wheresleepbanner.banner::after {
  height: 450px;
}

.accommodation-seciton {
  padding: 50px 0 0 0;
}

.accommodation-part {
  box-shadow: 0 0 7px 0 #152c33;
  padding: 20px;
}

section.compare h2::before {
  content: none;
}

.compare {
  padding: 60px 0;
  position: relative;
}
.compare .heading {
  padding-bottom: 45px;
}
.compare .heading h2 {
  text-align: center;
}
.compare .box {
  position: relative;
  overflow: hidden;
  margin: 27px 0px;
}
.compare .box:hover .content-box {
  bottom: 50%;
  transform: translateY(50%);
}
.compare .box:hover img {
  transform: scale(1.1) rotate(1.5deg);
}
.compare .box .content-box {
  position: absolute;
  left: 0%;
  width: 90%;
  bottom: 2px;
  transition: all 0.3s ease;
  padding: 20px 30px;
  background-color: rgba(3, 28, 36, 0.8);
  margin: 0 auto;
  right: 0;
  border-radius: 8px;
  opacity: 0.9;
}
.compare .box .content-box h3 {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 6px;
}
.compare .box .content-box p {
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  font-family: "Gothic A1";
}
.compare .box img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.box.first {
  background: #c8c3c3;
}

/*wheretosleep-css-end*/
/*wheretoeat-css-start*/
.whereeatbanner.banner {
  background-image: url(../images/wheretosleep-banner.jpg);
  height: 450px;
  position: relative;
}
.whereeatbanner.banner::after {
  height: 450px;
}

/*wheretoeat-css-end*/
/*whatto-do-css-start*/
.whatdobanner.banner {
  background-image: url(../images/wheretosleep-banner.jpg);
  height: 450px;
  position: relative;
}
.whatdobanner.banner::after {
  height: 450px;
}

.whatdocard {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  height: 100%;
}
.whatdocard h3 {
  color: rgba(3, 28, 36, 0.9294117647);
}
.whatdocard p {
  margin: 25px 0;
}

.whatdocard .primary-btn {
  background: rgba(3, 28, 36, 0.9294117647);
  color: #fff;
  border: 1px solid rgba(3, 28, 36, 0.9294117647);
}
.whatdocard .primary-btn:hover {
  background: transparent;
}
.whatdocard .primary-btn:hover a {
  color: rgba(3, 28, 36, 0.9294117647) !important;
}

.whatdocards-main {
  padding: 60px 0;
}

.whatdocards-main .row {
  row-gap: 20px;
}

.whatinner img {
  height: 250px;
  object-fit: cover;
  margin-bottom: 25px;
}

/*whatto-do-css-end*/


/*# sourceMappingURL=style.css.map */
